.dropdown {
    padding: 10px 30px 10px 10px;
    width: fit-content;

    outline: none;
    border: 2px var(--gray) solid;
    border-radius: 4px;

    background-color: var(--white);

    font-family: inherit;
    color: var(--font-color);
    font-weight: 500;

    cursor: pointer;
    transition: var(--transition);

    appearance: none;
    background-image: url('../../../../assets/arrow.svg');
    background-repeat: no-repeat;
    background-position: right 5px center;
    background-size: 20px;
}