.newTask {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;

    height: 80px;
    width: 100vw;
    padding: 0 30px;

    border: 1px var(--light-gray) solid;

    text-wrap: nowrap;
}

.addSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    height: 100%;
    width: 100%;
}

input, .addButton {
    height: 50%;

    border-radius: 5px;
    font-family: inherit;
}

input {
    flex-grow: 1;
    border: 2px var(--gray) solid;

    color: var(--font-color);
    padding: 0 10px;
}

.addButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;

    padding: 0 10px;

    background-color: var(--secondary-color);
    color: white;
    font-weight: 300;

    border: none;
}