.container {
    display: flex;
    flex-direction: column;

    height: 100vh;
    width: 100vw;
}

/* Add section */
.newTask {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;

    height: 100px;
    width: 100vw;
    padding: 0 30px;

    border: 1px var(--light-gray) solid;

    text-wrap: nowrap;
}

.addSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    height: 100%;
    width: 100%;
}

input, .addButton {
    height: 50%;

    border-radius: 7px;
    font-family: inherit;
}

input {
    flex-grow: 1;
    border: 2px var(--gray) solid;

    color: var(--font-color);
    padding: 0 10px;
}

.addButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;

    padding: 0 10px;

    background-color: var(--secondary-color);
    color: white;
    font-weight: 300;

    border: none;
    cursor: pointer;

    transition: var(--transition);
}

.addButton:hover {
    background-color: var(--secondary-color-light);
}

.addButton:active {
    background-color: var(--secondary-color-dark);
}

/* Main section */
main {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;

    padding: 50px 30px;
    gap: 30px;
    overflow: hidden;
}

main h1 {
    font-weight: 400;
    font-size: 25px;
}

.taskContainer {
    display: flex;
    flex-direction: row;

    flex-grow: 1;
    max-height: 100%;
    width: 100%;

    border-radius: 10px;
    border: 2px var(--gray) solid;
    overflow-y: auto;
}

.taskContainer > :first-child {
    border-right: 2px solid var(--gray);
    padding-right: 20px;
}