@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --primary-color: #FFFFFF;
  --secondary-color: #315bff;
  --secondary-color-light: #466cff;
  --secondary-color-dark: #0035a0;
  --white: #FFFFFF;
  --dark-shadow: #BABECC;

  --light-gray: #E4E4E7;
  --gray: #D6D6D6;
  --gray-font: #71717A;
  --font-color: #2D2D39;

  --shadow: 2px 2px 5px  var(--dark-shadow), -2px -2px 5px var(--white);
  --transition: all 0.2s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  font-family: 'Inter', sans-serif;
  color: var(--font-color);
  font-weight: 400;
}

.greyFont {
  color: var(--gray-font);
}

button {
  cursor: pointer;
}